nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 1.2rem 0;
  z-index: 9999;
}

body {
  padding-top: 4em; 
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 2em 0 2em;
  font-size: large;
}

#bb-logo {
  font-size: x-large;
  font-weight: bold;
}

.footer {
  text-align: center;
}

#footer-container {
  display: flex;
  flex-direction: row;
  margin-top: 15em;
  margin-bottom: .3em;
  padding-top: 3em;
  margin-top: 20em;
  justify-content: center;
}
