th,
td {
    padding: 0.25em;
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#main-table{
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 95%;
    margin-left: 43px;
}

#sub-table-1{
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 95%;
    margin-left: 43px;

}

#sub-table-2{
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 95%;
    margin-left: 10px;

}

thead th {
    border: 1px solid #ccc;

}

tbody td {
    border: 1px solid #ccc;

}

thead th span {
    margin-left: 8px;

}

tbody tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

tbody tr.selected {
    background-color: #e0e0e0;
}

th span {
    float: right;

}

th:not(:last-child) {
    border-right: none;
}

tbody tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.selected-application-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.selected-application-text {
    font-family: 'Fira Sans';
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.details-columns {
    display: flex;
    width: 100%;
}

.details-column {
    flex: 1 1 50%;
    box-sizing: border-box;
    padding-right: 10px;
    margin-bottom: 10px;
}

.header-cell {
    position: relative;
    padding-right: 20px;
}

.header-cell span {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

h2 {
    margin-bottom: 10px;
}

.selected-application-details {
    margin-bottom: 20px;
}

thead th,
tbody td,
.full-name,
.details-columns {
    width: 20%;
}

.filter-option-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.buttons-container button {
   margin: 0 1em 0 1em;
}

.buttons-container button:first-of-type {
    margin-left: 3em;
 }

#applications-list{
    font-family: 'Fira Sans';
    margin-left: 40px;
    margin-top: 20px;

}

