#chart-container{
    border: red solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.pie-table-container{
    display: flex;
    border: blue solid 2px;
    gap: 15em;
    justify-content: center;
}



/* Table stlying*/
.table-header {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table-cell {
    padding: 8px;
}


.table {
    font-size: 14px;
}

.table-container {
    max-width: 500px;
    margin: auto;
}
