
#add-dog-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 1em;
    background-color: #f5f5f5;
    margin: 4em;
    padding: 1em;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-family: "Segoe UI", Arial, sans-serif; 
}

.form-header{
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 1em;
}

#add-dog-btn {
    background-color: #007bff;
    color: #fff; 
    border: none;
    border-radius: 4px;
    padding: 0.5em 1em;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-dog-btn:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}




