.welcome-msg {
  text-align: center;
  margin: 1.4em 0 .5em 0;
  font-size: 4.3em;
}

.adopted-header {
  text-align: center;
  margin: .9em 0 .7em 0;
  font-size: 4.3em;
}

.adopt-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1603682274105-c015c571d03d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 56.5rem;
  position: relative;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.724);
}

.adopt-msg h1 {
  margin: 1.5em 10em -1.9em .6em;
  font-size: 8em;
  color: white;
  position: relative;
  z-index: 1;
  text-align: center;
  line-height: 1;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

.contain-home {
  margin-top: 0;
}

.dog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100em;
  margin: 0 auto;
  position: relative;
}

.dog-card {
  text-align: center;
  width: 18em;
  padding: 0;
  margin: 1em;
  border-radius: 1em;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  font-weight: bold;
}

.dog-card .dog-details {
  color: white;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.7em;
  background-color: rgba(0, 0, 0, 0.8);;
  padding: .5em;
  border-radius: .8em;
  font-size: 1.1em;
}

.dog-card h2 {
  margin-bottom: 0;
}

.dog-card .img-container {
  height: 18.5em;
  overflow: hidden;
  border-radius: .8em;
}

.dog-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dog-card p span {
  margin-right: 10px;
  cursor: pointer;
}

#chip-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#chip-box .MuiFormControlLabel-root {
  font-size: 0.8rem;
  margin: 0;
}

#chip-box .MuiCheckbox-root {
  color: black;
}

#chip-box .MuiButtonBase-root {
  color: #000;
  margin: 0;
  margin-bottom: 1em;
}

.filter-label {
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: bold;
  padding-left: 2em;
}

.head-sponsored-card, .head-adopted-card, .head-pending-card {
  background-color: #33CCCC;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: bold;
  overflow: hidden;
  color: #fff;
  height: auto;
  border-top-left-radius: .6em;
  border-top-right-radius: .6em;
  padding: .2em;
  object-fit: cover;
}


.sponsored-card, .pending-card, .adopted-card {
  border: solid 4px #2fbcbc;
}

.pending-card, .head-pending-card {
  border-color: #b8b8ff;
  color: #646b6c;
  background-color: #E6E6FA;
}


.adopted-card, .head-adopted-card {
  border-color: rgba(74, 93, 94, 0.863) ;
  background-color: rgba(74, 93, 94, 0.863);
}

.dog-card:hover {
  box-shadow: 0 0 10px 5px rgba(77, 93, 93, 0.908);
  cursor: pointer;
}

.pending-card:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 187, 0.253);
}

.sponsored-card:hover {
  box-shadow: 0 0 10px 5px rgba(52, 213, 213, 0.774);
}

.adopted-card:hover {
  box-shadow: 0 0 10px 5px rgba(74, 93, 94, 0.863);
}

.attr-label {
  color: #27acac;
  margin-right: 1.2em;
}