#application-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    background-color: #f5f5f5;
    margin: 4em;
    padding: 1em;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-family: "Segoe UI", Arial, sans-serif; 
}

