.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donation-image {
    width: 15em;
}